.navbar {
  display: flex;
  flex-direction: row;
  background-color: #ffc700;
  height: 90px;
}

.wrap {
  right: 3rem;
  position: absolute;
}

.logo {
  margin-top: 26px;
  margin-left: 55px;
  width: auto;
  height: 40px;
  position: absolute;
}

.btnLogin {
  margin-top: 26px;
  margin-left: 15px;
  background-color: #433434;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  height: 30px;
  width: 100px;
  text-align: center;
}

.btnRegister {
  margin-top: 26px;
  margin-left: 15px;
  background-color: #433434;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  height: 30px;
  width: 100px;
  text-align: center;
}
